@model RnD.TestSample.Models.Profile
@{
    ViewBag.Title = "Create";
}

<section id="profileForm">
    <h2>Profile...</h2>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formProfile" }))
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Create Profile:</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.Name)
                    @Html.TextBoxFor(m => m.Name)
                    @Html.ValidationMessageFor(m => m.Name)
                </li>
                <li>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)
                </li>
                @Html.Partial("_ProfileAddress", Model)
                @Html.Partial("_ProfileContact", Model)
            </ol>
            <input type="submit" id="btnSubmit" value="Submit" />&nbsp;&nbsp;&nbsp;
            <input type="button" id="btnSave" value="Button" />
        </fieldset>
    }
</section>

<script type="text/javascript">

    $(document).ready(function () {

        //-----------------------------------------------------
        //Save
        $('#btnSave').live('click', function () {


            console.log('btnSave');

        });
        //-----------------------------------------------------

    });

</script>
