@model SimReg.Web.ViewModels.SIMREG_DELIVEREDBYViewModel
<table width="100%">
    <tr>
        <td>@Html.LabelFor(model => model.DELIVEREDBYID)</td>
        <td>@Html.DisplayFor(model => model.DELIVEREDBYID)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.USERNAME)</td>
        <td>@Html.DisplayFor(model => model.USERNAME)</td>
    </tr>
    <tr>
        <td>@Html.LabelFor(model => model.TITLE)</td>
        <td>@Html.DisplayFor(model => model.TITLE)</td>
    </tr>
</table>
