@model SimReg.Web.ViewModels.SIMREG_DELIVEREDBYViewModel
@using (Ajax.BeginForm("Edit", "DeliverBy", null,
        new AjaxOptions
        {
            UpdateTargetId = "updateTargetId",
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "POST",
            OnSuccess = "EditDeliverBySuccess",
        }, new { @id = "editDeliverByForm" }))
{

    @Html.ValidationSummary(true)
    <div id="updateTargetId" class="error invisible">
    </div>
    @Html.HiddenFor(model => model.DELIVEREDBYID)
    <table width="100%">
        <tr>
            <td>@Html.LabelFor(model => model.USERNAME)</td>
            <td>
                @Html.TextBoxFor(model => model.USERNAME)
                @Html.ValidationMessageFor(model => model.USERNAME)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.TITLE)</td>
            <td>
                @Html.EditorFor(model => model.TITLE)
                @Html.ValidationMessageFor(model => model.TITLE)</td>
        </tr>
    </table>
}
